@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Haven;

<span class="dialog-close-button" onclick="$('#boardDialog').data('dialog').close();"></span>
<div id="boardDialogBackground"
        style="width: 100%;
                height: 100%;
                position: absolute;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url('@Model.Image.Filepath');
                opacity: 0.25;"></div>
<div class="padding20">
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <form method="get" action="Admin/Board/Edit">
        <input name="BoardId" value="@Model.Id" type="hidden" />
        <div class="padding10">
            @{ var validation = @Model.Validate(); }
            @if (validation.Errors.Count > 0)
             {
                <div class="panel alert">
                    <div class="heading">
                        <span class="title">Error</span>
                    </div>
                    <div class="content">
                        <ul class="simple-list">
                            @foreach (string error in validation.Errors)
                            {
                                <li>@error</li>
                            }
                        </ul>
                    </div>
                </div>
             }
            
            @if (validation.Warnings.Count > 0)
             {
                <div class="panel warning">
                    <div class="heading">
                        <span class="title">Warning</span>
                    </div>
                    <div class="content">
                        <ul class="simple-list">
                            @foreach (string warning in validation.Warnings)
                            {
                                <li>@warning</li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
        <div>
            <button class="button" type="submit">Edit</button>
            <button class="button" type="button" onclick="$('#boardDialog').data('dialog').close();">Cancel</button>
        </div>
    </form>
</div>
