@using Cassette.Nancy
@{
    Layout = null;
    Bundles.Reference("bundle.css");
    Bundles.Reference("react", "prereqs");
    Bundles.Reference("jquery", "prereqs");
    Bundles.Reference("page", "prereqs");
    Bundles.Reference("metro.js", "metro");
    Bundles.Reference("~/Scripts/Components", "components");
    Bundles.Reference("bundle.js", "bundle");
}

<!DOCTYPE html>

<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <meta name="viewport" content="width=device-width" />
    <title>Haven</title>
    @Bundles.RenderStylesheets()
    @Bundles.RenderScripts("prereqs")
    @Bundles.RenderScripts("metro")
    @Bundles.RenderScripts("components")
    @Bundles.RenderScripts("bundle")
</head>
<body class="bg-grayLighter">
    @RenderBody()
</body>
</html>
