@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Haven;

<div>
    <div id="spaces">
        @foreach (Space space in @Model.Spaces)
        {
            @Html.Partial("Space", space)
        }
    </div>
    <div id="messagearea"
         class="tile-small bg-taupe fg-white"
         width="@Model.MessageAreaWidth"
         height="@Model.MessageAreaHeight"
         x="@Model.MessageAreaX"
         y="@Model.MessageAreaY"
         style="position: absolute;"></div>
    <div id="statusarea"
         class="tile-small tile-container bg-taupe fg-white"
         width="@Model.StatusAreaWidth"
         height="@Model.StatusAreaHeight"
         x="@Model.StatusAreaX"
         y="@Model.StatusAreaY"
         style="position: absolute;"></div>
</div>