@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@using Haven;

@{
    var additionalClass = "";
    var text = "";
    var details = "";
    var image = "";
    SpaceType spaceType = @Model.Type;
}
@switch (spaceType)
{
    case SpaceType.Recall:
        additionalClass = "mif-books mif-2x";
        text = "";
        break;
    case SpaceType.Challenge:
        if (@Model.NameCard != null)
        {
            text = @Model.NameCard.Name;
            details = @Model.NameCard.Details;
            image = @Model.NameCard.Image.Filepath;
        }
        break;
    case SpaceType.ExchangePlaces:
        additionalClass = "mif-loop2 mif-2x";
        break;
    case SpaceType.OptionalTurnAround:
        additionalClass = "mif-undo mif-2x";
        text = "?";
        break;
    case SpaceType.RollToGo:
        additionalClass = "mif-dice mif-2x";
        break;
    case SpaceType.SafeHaven:
        if (@Model.SafeHavenCard != null)
        {
            text = @Model.SafeHavenCard.Name;
            details = @Model.SafeHavenCard.Details;
            image = @Model.SafeHavenCard.Image.Filepath;
        }
        break;
    case SpaceType.TurnAround:
        additionalClass = "mif-undo mif-2x";
        break;
    case SpaceType.War:
        additionalClass = "mif-fire mif-2x";
        break;
    default:
        break;
}
<div class="space tile-small bg-taupe fg-white" spaceid="@Model.Id" details="@details" order="@Model.Order" x="@Model.X" y="@Model.Y" style="position: absolute;">
    <div class="tile-content"
            style="text-align: center;">
        @if (!string.IsNullOrWhiteSpace(image))
        {
            <div style="width: 100%; height: 100%; position: absolute; background-image: url('@image'); background-size: cover; background-repeat: no-repeat;"></div>
        }
    <div class="@additionalClass" style="display: inline-block; vertical-align: middle; line-height: 70px;">@text</div>
    </div>
</div>